:root {
  --dark: #0000001a;
  --dark-shades: #00000026;
  --dark-accent: #00000033;
  --medium-dark: #3b4954;
  --main-brand: #af0808;
  --medium-accent: #c0c7cf;
  --light-accent: #f7fafc;
  --light-shades: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--light-accent);
  font-family: sans-serif;
  text-align: center;
}

/* The first value is for top and bottom and the second value is for right and left */
main {
  padding: 30px 20px;
}

header {
  padding: 8px 20px 20px 20px;
  color: var(--main-brand);
}

.subtitle {
  font-size: 20px;
  font-style: italic;
}

.subtitle,
.card {
  color: var(--medium-dark);
}

/* Main content of the page, with lighter background and shadows to highlight */
.card {
  margin: 0 auto;
  box-shadow: var(--dark-shades) 0px 2px 8px 0px;
  border-radius: 5px;
  border-width: 1px;
  /* Reduces the width of the card */
  max-width: 800px;
  padding: 30px 40px;
  background-color: var(--light-shades);
}

textarea {
  margin: 10px 0;
  border: 2px dashed var(--medium-accent);
  border-radius: 6px;
  /* Expandes the width of the textarea */
  width: 100%;
  padding: 15px 15px 85px 15px;
  font-size: 1.2rem;
  text-align: center;
}

button {
  cursor: pointer;
  margin: 16px 16px 16px 20px;
  box-shadow: var(--dark) 0px 1px 6px 0px var(--dark-accent) 0px 1px 1px 0px;
  /* Removes the border of the button to show only the main-brand color */
  border: none;
  border-radius: 25px;
  padding: 14px 34px;
  background-color: var(--main-brand);
  font-size: 22px;
  line-height: 22px;
  color: var(--light-shades);
}

/* Media query to ensure responsiveness across multiple screens */
@media (max-width: 690px) {
  button {
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  button,
  textarea {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  button {
    font-size: 0.8rem;
  }
}